@media(min-width:600px) and (max-width:767px) {


    #wrapper{
        background-color: rgb(197, 155, 41);
    }

    header{
        background-color: blueviolet;
    }

    #xs, #md, #lg, #xl, #el{
        display: none;
    }

    #sm{
        display: block;
    }
}