*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: rebeccapurple;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.pw-container{
    width: 400px;
    background-color: rgb(69, 17, 118);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.pw-header{
    padding: 1rem;
    position: relative; 
}

#pw{
    width: 100%;
    height:70px;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    font-size:1.5rem;
    padding: 1rem;
}

.pw-header button{
    position: absolute;
    top: 0;
    right: 1rem;
    transition: opacity 0.2s ease, transform 0.2s ease;
    transform: translate(0,50%);
    opacity: 0;
    background-color: rgb(35,5,66);
    color: #eee;
    padding: 0.25rem;
    border: none;
    cursor: pointer;
}

.pw-header:hover button{
    opacity: 1;
    transform: translate(0,-50%);
}

.pw-body{
    padding: 1rem;
}

.form-control{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    color: #eee;
}

.generate{
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #ecb602;
    border: none;
    font-weight: bold;
    font-size: 20px;
    color: #eee;
}