@media (min-width: 600px) and (max-width:767.9px){
    #wrapper{
        background-color: rgb(216, 89, 15);
    }
    header{
        height: 400px;
        background-color: rgb(71, 88, 102);
    }
    #sm{
        display: block;
    }
}